<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Vegetation</key>
	<array>
		<string>Grass</string>
		<string>Dry Grass</string>
		<string>Conifer</string>
		<string>Decidous</string>
	</array>
	<key>Man-Made</key>
	<array>
		<string>Construction Asphalt</string>
		<string>Construction Concrete</string>
		<string>Construction Tar</string>
		<string>White Marble</string>
		<string>Black Paint</string>
	</array>
	<key>Soil</key>
	<array>
		<string>Red Orange Sane Loam(Sand,Silt, Clay)</string>
	</array>
	<key>Rocks</key>
	<array>
		<string>Marble</string>
		<string>Granite</string>
	</array>
</dict>
</plist>
